# Build artifact -- rebuild with ./build.ps1
ModelSwapper.pk3

# Windows junk
Thumbs.db
desktop.ini
*.lnk

# Build artifacts -- rebuild with ./build.ps1
ModelSwapper_*.pk3
ModelSwapper-REMAP.pk3
ModelSwapper-QUEST.pk3
